<tr class="song-row">
  <td><a href="/songs/<%= title %>"><strong><%= title %></strong></a></td>
  <td class="composer"><%= composer %></td>
  <td class="voicing"><%= voicing %></td>
  <td class="description"><%= description %></td>
  <td class="larger_work"><%= larger_work %></td>
  <td class="arranger_one"><%= arranger_one %></td>
  <td class="arranger_two"><%= arranger_two %></td>
  <td class="PDF"><%= pdf_url %></td>
</tr>

